[General]
ip-mode = v4-only
ipv6-vif = off
dns-server = system
sni-sniffing = true
disable-stun = false
dns-reject-mode = LoopbackIP
domain-reject-mode = DNS
udp-fallback-mode = REJECT
wifi-access-http-port = 7222
wifi-access-socks5-port = 7221
allow-wifi-access = false
interface-mode = auto
test-timeout = 2
disconnect-on-policy-change = false
switch-node-after-failure-times = 3
internet-test-url = http://connectivitycheck.platform.hicloud.com/generate_204
proxy-test-url = http://www.gstatic.com/generate_204
resource-parser = https://raw.githubusercontent.com/sub-store-org/Sub-Store/release/sub-store-parser.loon.min.js
geoip-url = https://geodata.kelee.one/Country-Masaiki.mmdb
ipasn-url = https://geodata.kelee.one/GeoLite2-ASN-P3TERX.mmdb
skip-proxy = 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12, localhost, *.local, e.crashlynatics.com
bypass-tun = 10.0.0.0/8, 100.64.0.0/10, 127.0.0.0/8, 169.254.0.0/16, 172.16.0.0/12, 192.0.0.0/24, 192.0.2.0/24, 192.88.99.0/24, 192.168.0.0/16, 198.51.100.0/24, 203.0.113.0/24, 224.0.0.0/4, 255.255.255.255/32

[Proxy]

[Remote Proxy]
SubStore = http://192.168.6.6:9004/FmQbonHi05jMj1CkUXoG/download/collection/xzsub?includeUnsupportedProxy=true

[Remote Filter]
香港筛选 = NameRegex, FilterKey = "^(?=.*((?i)🇭🇰|香港|港|(\b(HK|Hong)(\d+)?\b))).*$"
台湾筛选 = NameRegex, FilterKey = "^(?=.*((?i)🇹🇼|台湾|新北|彰化|(\b(TW|Tai|Taiwan)(\d+)?\b))).*$"
日本筛选 = NameRegex, FilterKey = "^(?=.*((?i)🇯🇵|日本|川日|东京|大阪|泉日|埼玉|沪日|深日|(\b(JP|Japan)(\d+)?\b))).*$"
狮城筛选 = NameRegex, FilterKey = "^(?=.*((?i)🇸🇬|新加坡|坡|狮|(\b(SG|Singapore)(\d+)?\b))).*$"
美国筛选 = NameRegex, FilterKey = "^(?=.*((?i)🇺🇸|美国|波特兰|达拉斯|俄勒冈|凤凰城|费利蒙|硅谷|拉斯维加斯|洛杉矶|圣何塞|圣克拉拉|西雅图|芝加哥|(\b(US|United States|LA)(\d+)?\b))).*$"
特殊筛选 = NameRegex, FilterKey = "^(?=.*((?i)土|土耳其|阿|阿根廷|尼|尼日利亚|印度|(\b(tr|Turkey|AG|Argentina|Nigeria|NI)(\d+)?\b))).*$"
奈飞筛选 = NameRegex, FilterKey = "^(?=.*((?i)奈飞|解锁|(\b(NETFLIX|Media)(\d+)?\b))).*$"

[Proxy Group]

🚀 默认代理 = select, 🇭🇰 香港节点, 🇺🇲 美国节点, 🇯🇵 日本节点, 🇸🇬 狮城节点, 🇨🇳 台湾节点, 🌍 特殊节点, 🚀 手动切换, DIRECT
🚀 手动切换 = select, DIRECT,Hong Kong,Macao,Taiwan,Japan,South Korea,Singapore,United States,United Kingdom,Rare Areas
🐟 漏网之鱼 = select, 🚀 默认代理, 🇭🇰 香港节点, 🇺🇲 美国节点, 🇯🇵 日本节点, 🇸🇬 狮城节点, 🇨🇳 台湾节点, 🌍 特殊节点, 🚀 手动切换, DIRECT
🎮 游戏平台 = select, 🚀 默认代理, 🇭🇰 香港节点, 🇺🇲 美国节点, 🇯🇵 日本节点, 🇸🇬 狮城节点, 🇨🇳 台湾节点, 🌍 特殊节点, 🚀 手动切换, DIRECT
💬 Ai平台 = select, 🚀 默认代理, 🇭🇰 香港节点, 🇺🇲 美国节点, 🇯🇵 日本节点, 🇸🇬 狮城节点, 🇨🇳 台湾节点, 🌍 特殊节点, 🚀 手动切换, DIRECT
Ⓜ️ 微软云盘 = select, 🚀 默认代理, 🇭🇰 香港节点, 🇺🇲 美国节点, 🇯🇵 日本节点, 🇸🇬 狮城节点, 🇨🇳 台湾节点, 🌍 特殊节点, 🚀 手动切换, DIRECT
🪟 微软服务 = select, 🚀 默认代理, 🇭🇰 香港节点, 🇺🇲 美国节点, 🇯🇵 日本节点, 🇸🇬 狮城节点, 🇨🇳 台湾节点, 🌍 特殊节点, 🚀 手动切换, DIRECT
📺 哔哩哔哩 = select, 🎯 全球直连, 🇭🇰 香港节点, 🇨🇳 台湾节点
🎥 奈飞视频 = select, 🎥 奈飞节点, 🚀 默认代理, 🇭🇰 香港节点, 🇺🇲 美国节点, 🇯🇵 日本节点, 🇸🇬 狮城节点, 🇨🇳 台湾节点, 🌍 特殊节点, 🚀 手动切换
🛠️ 自定义 = select, 🚀 默认代理, 🇭🇰 香港节点, 🇺🇲 美国节点, 🇯🇵 日本节点, 🇸🇬 狮城节点, 🇨🇳 台湾节点, 🌍 特殊节点, 🚀 手动切换, DIRECT
🇭🇰 香港节点 = select, 香港筛选
🇺🇲 美国节点 = select, 美国筛选
🇯🇵 日本节点 = select, 日本筛选
🇸🇬 狮城节点 = select, 狮城筛选
🇨🇳 台湾节点 = select, 台湾筛选
🌍 特殊节点 = select, 特殊筛选
🎥 奈飞节点 = select, 奈飞筛选
🎯 全球直连 = select, DIRECT, 🚀 默认代理
🛑 广告拦截 = select, REJECT, DIRECT


[Rule]
# Local Rule
# Type:DOMAIN-SUFFIX,DOMAIN,DOMAIN-KEYWORD,USER-AGENT,URL-REGEX,IP-CIDR,IP-CIDR6,IP-ASN
# Strategy:DIRECT,Proxy,REJECT
# Options:no-resolve(no-resolve(only for cidr))
# IP-CIDR, 192.168.0.0/16, DIRECT
# IP-CIDR, 10.0.0.0/8, DIRECT
# IP-CIDR, 172.16.0.0/12, DIRECT
# IP-CIDR, 127.0.0.0/8, DIRECT
# 配置文件已自带远程GEOIP, cn, DIRECT规则，请勿在此添加
# 请勿修改远程CN REGION规则的排序甚至删除
GEOIP, cn, 🎯 全球直连
GEOIP, lan, 🎯 全球直连
FINAL, 🐟 漏网之鱼

[Remote Rule]

https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/Myproxy.list, policy = 🛠️ 自定义, tag = Myproxy, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Mydirect.list, policy = 🎯 全球直连, tag = Mydirect, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/BilibiliHMT.list, policy = 📺 哔哩哔哩, tag = BilibiliHMT, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/Bilibili.list, policy = 📺 哔哩哔哩, tag = Bilibili, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/LocalAreaNetwork.list, policy = 🎯 全球直连, tag = lanip, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/UnBan.list, policy = 🎯 全球直连, tag = UnBan, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/GoogleFCM.list, policy = 🎯 全球直连, tag = GoogleFCM, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Apple.list, policy = 🎯 全球直连, tag = Apple, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/ChinaMedia.list, policy = 🎯 全球直连, tag = ChinaMedia, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/ChinaIp.list, policy = 🎯 全球直连, tag = ChinaIp, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/ChinaDomain.list, policy = 🎯 全球直连, tag = ChinaDomain, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/ChinaCompanyIp.list, policy = 🎯 全球直连, tag = ChinaCompanyIp, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Download.list, policy = 🎯 全球直连, tag = Download, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/BanAD.list, policy = 🛑 广告拦截, tag = BanAD, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/BanProgramAD.list, policy = 🛑 广告拦截, tag = BanProgramAD, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/OneDrive.list, policy = Ⓜ️ 微软云盘, tag = OneDrive, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Microsoft.list, policy = 🪟 微软服务, tag = Microsoft, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/AI.list, policy =  💬 Ai平台, tag = AI, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/OpenAi.list, policy = 💬 Ai平台, tag = OpenAi, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/Epic.list, policy = 🎮 游戏平台, tag = Epic, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/Origin.list, policy = 🎮 游戏平台, tag = Origin, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/Sony.list, policy = 🎮 游戏平台, tag = Sony, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/Steam.list, policy = 🎮 游戏平台, tag = Steam, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/Nintendo.list, policy = 🎮 游戏平台, tag = Nintendo, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/Netflix.list, policy = 🎥 奈飞视频, tag = Netflix, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/ProxyGFWlist.list, policy = 🚀 默认代理, tag = ProxyGFWlist, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/ProxyMedia.list, policy = 🚀 默认代理, tag = ProxyMedia, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Telegram.list, policy = 🚀 默认代理, tag = Telegram, enabled = true
https://raw.githubusercontent.com/xzinvisible/clash-rules/master/Clash/Ruleset/YouTube.list, policy = 🚀 默认代理, tag = YouTube, enabled = true

[Host]

[Rewrite]

[Script]

[Plugin]
https://kelee.one/Tool/Loon/Plugin/LoonGallery.plugin, policy = 🚀 默认代理, enabled = true
https://kelee.one/Tool/Loon/Plugin/Block_HTTPDNS.plugin, enabled = true
https://kelee.one/Tool/Loon/Plugin/BlockAdvertisers.plugin, enabled = true
https://kelee.one/Tool/Loon/Plugin/Remove_ads_by_keli.plugin, enabled = true
https://kelee.one/Tool/Loon/Plugin/QuickSearch.plugin, enabled = true
https://kelee.one/Tool/Loon/Plugin/Prevent_DNS_Leaks.plugin, policy = 🚀 默认代理, enabled = true
https://kelee.one/Tool/Loon/Plugin/Node_detection_tool.plugin, enabled = true
https://kelee.one/Tool/Loon/Plugin/TestFlightRegionUnlock.plugin, policy = DIRECT, enabled = true
https://kelee.one/Tool/Loon/Plugin/BoxJs.plugin, policy = 🚀 默认代理, enabled = true
https://kelee.one/Tool/Loon/Plugin/Sub-Store.plugin, policy = 🚀 默认代理, enabled = true
https://kelee.one/Tool/Loon/Plugin/Script-Hub.plugin, policy = 🚀 默认代理, enabled = true
https://kelee.one/Tool/Loon/Plugin/JD_Price.plugin, enabled = true
https://raw.githubusercontent.com/sooyaaabo/Loon/main/Plugin/NodeSeek.plugin, policy = 🚀 默认代理, enabled = true

[Mitm]
hostname = 
ca-p12 = 
ca-passphrase = 
skip-server-cert-verify = false
